body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}

header {
  background: #4b7bec;
  color: white;
  padding: 40px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

.screenshots {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.screenshots img {
  width: 45%;
  border: 2px solid #ccc;
  border-radius: 10px;
  background: white;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #ddd;
  margin-top: 40px;
}